[Unit]
Documentation=man:fstab(5)
Before=local-fs.target
RequiresMountsFor=/sysimage/mutable

[Mount]
What=/sysimage/mutable/boot
Where=/boot
Type=none
Options=bind
