[Unit]
Documentation=man:fstab(5)
Before=local-fs.target
RequiresMountsFor=/sysimage/mutable

[Mount]
What=/sysimage/mutable/home
Where=/home
Type=none
Options=bind
