[Unit]
Documentation=man:fstab(5)
Before=local-fs.target
RequiresMountsFor=/sysimage/mutable

[Mount]
What=/sysimage/mutable/sysimage/cache
Where=/sysimage/cache
Type=none
Options=bind
