[Unit]
Documentation=man:fstab(5)
Before=local-fs.target
RequiresMountsFor=/sysimage/mutable

[Mount]
What=/sysimage/mutable/var/lib/bluetooth
Where=/var/lib/bluetooth
Type=none
Options=bind
