[Unit]
Documentation=man:fstab(5)
Before=local-fs.target
RequiresMountsFor=/sysimage/mutable

[Mount]
What=/sysimage/mutable/tmp/portage
Where=/var/tmp/portage
Type=none
Options=bind
