[Unit]
Documentation=man:fstab(5)
Before=local-fs.target
RequiresMountsFor=/sysimage/cache

[Mount]
What=/sysimage/cache/gentoo/distfiles
Where=/var/cache/distfiles
Type=none
Options=bind
